twentytwenty
twentynineteen
node_modules
.DS_Store
themes/udemy/assets/images
plugins/fakerpress
uploads
wp-subtitle
plugins/quick-adsense-reloaded
plugins/wordpress-popular-posts
plugins/recipe/assets/extras/
plugins/buddypress
plugins/custom-post-type-ui
plugins/advanced-custom-fields