twentytwenty
twentynineteen
node_modules
.DS_Store
themes/udemy/assets/images
fakerpress
uploads
wp-subtitle
quick-adsense-reloaded
wordpress-popular-posts
plugins/recipe/assets/extras/
buddypress
custom-post-type-ui
advanced-custom-fields