twentytwenty
twentynineteen
node_modules
.DS_Store
themes/udemy/assets/images
plugins/fakerpress
uploads
wp-subtitle
plugins/quick-adsense-reloaded
plugins/wordpress-popular-posts
plugins/recipe/assets/extras/
plugins/buddypress
plugins/custom-post-type-ui
plugins/advanced-custom-fields
plugins/woocommerce
plugins/woocommerce-services
plugins/kliken-marketing-for-google
plugins/mailchimp-for-woocommerce
plugins/jetpack
plugins/facebook-for-woocommerce
plugins/creative-mail-by-constant-contact